# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=oas123456
POSTGRES_DB=oas

# Redis
REDIS_PASSWORD=oas123456

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioAdmin.!@#

# OnlyOffice
JWT_ENABLED=false
JWT_SECRET=
JWT_IN_BODY=false

