.content-bg {
  height: 100%;
  .card-list {

    height: calc(100% - 64px);
    overflow: auto;
    .ant-spin {
      width: 100%;
      margin-top: 200px;
    }

    .card-list-item {
      background: #ffffff;
      margin: 5px 0;
      padding: 10px;
      box-shadow: 0 0 5px 0 #dcdcdc;

      .card-list-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .index-no {

        }

        .card-list-title {
          flex: 1;
          padding: 0 10px;
        }

        .card-list-status {

        }


      }

      .card-list-body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

  }
}
